In [2]:
import pandas as pd

In [3]:
user_data = pd.read_csv('dataset/user_feature_total_remove_highcorr.csv')

In [5]:
user_data.head()

,User_id,time,"AVG_TIME_BETWEEN(offline.Date, unit=days)","AVG_TIME_BETWEEN(offline.Date_received, unit=days)",COUNT(offline),MAX(offline.Distance),MAX(offline.promotion_amonut),MAX(offline.promotion_condition),MAX(offline.uniform_discount_rate),MEAN(offline.Distance),...,NUM_UNIQUE(online.Merchant_id WHERE Action = 1),NUM_UNIQUE(online.Merchant_id WHERE Action = 2),NUM_UNIQUE(online.WEEKDAY(Date)),NUM_UNIQUE(online.WEEKDAY(Date) WHERE Action = 1),NUM_UNIQUE(online.WEEKDAY(Date_received)),NUM_UNIQUE(online.WEEKDAY(Date_received) WHERE Action = 1),NUM_UNIQUE(online.WEEKDAY(Date_received) WHERE Action = 2),"PROP(online, Action = 0)","PROP(online, Action = 1)","PROP(online, Action = 2)"
0,1832624,2016-04-01,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,163606,2016-04-01,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,94107,2016-04-01,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4061024,2016-04-01,NaN,0.0,2.0,10.0,10.0,100.0,0.9,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,106443,2016-04-01,NaN,NaN,1.0,0.0,10.0,100.0,0.9,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
user_data.groupby("User_id").count().filter()

TypeError: Must pass either `items`, `like`, or `regex`